<div id="mySidenav" class="sidenav">
  <p  id="menuCollapse"><a href="javascript:void(0)" onclick="closeNav()">&times;</a></p>
  <ul>
    <a onclick="closeNav()" routerLink="dashboard">Dashboard</a>
    <a onclick="closeNav()" routerLink="#">Purchase Management</a>
    <a onclick="closeNav()" href="#">Report & statistics</a>
    <a onclick="closeNav()" routerLink="stock">Stock</a>
  </ul>

</div>

<span style="cursor:pointer; margin-right: 10px; margin-left: 10px; color: black;" onclick="openNav()">&#9776;</span>
<span style="color:black; cursor: pointer; margin: left 15px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-style: normal;"><a>HOME</a></span>