.spacer {
    flex: 1;
  }

  .toolbar {
    font-family: "Raleway Thin", sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    background-color:  #24c64f;
    color: black;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }