<div class="content">
  <div class="card-container">
    <a class="card " style="background-color:steelblue ;" rel="noopener"
    routerLink="/vendor-list">
      <fa-icon class="fa-2x" [icon]="faUser" style="color: #333; "></fa-icon>
      <span style="margin-left: 8px; margin-right: 8px; color: #333;">Vendors</span>
      <fa-icon [icon]="faChevronRight" style="color: rgb(105, 103, 103); margin-left: 8px;"></fa-icon>
    </a>

    <a class="card " style="background-color: crimson;" rel="noopener" href="#">
      <fa-icon class="fa-2x" [icon]="faMoneyBill" style="color: #333;"></fa-icon>
      <span style="margin-right: 8px; margin-left: 8px; color: #333;">Payments</span>
      <fa-icon [icon]="faChevronRight" style="color: rgb(105, 103, 103);"></fa-icon>
    </a>

    <a class="card bg-success" style="background-color: darkmagenta;" rel="noopener"
      href="#">
      <fa-icon class="fa-2x" [icon]="faChartBar" style="color: #333;"></fa-icon>
      <span style="margin-right: 8px; margin-left: 8px; color: #333;">Report</span>
      <fa-icon [icon]="faChevronRight" style="color: rgb(105, 103, 103);"></fa-icon>
    </a>
  </div>
 <app-canvas-record [department]="department"></app-canvas-record>
</div>

