<h3 class="m-5" style="display: flex; font-size: 25pt;  justify-content: center; color: steelblue; font-family: Raleway;">JABARI WHITE CASHEW NUT</h3>

<div class="content">
  <div class="card-container">
    <a class="card " style="background-color:steelblue ;" rel="noopener" routerLink="/vendor-list">
      <fa-icon class="fa-2x" [icon]="faUser" style="color: #333; "></fa-icon>
      <span style="margin-left: 8px; margin-right: 8px; color: #333;">Vendors</span>
      <fa-icon [icon]="faChevronRight" style="color: rgb(105, 103, 103); margin-left: 8px;"></fa-icon>
    </a>

    <a class="card " style="background-color: crimson;" rel="noopener" routerLink="/stock">
      <fa-icon class="fa-2x" [icon]="faWarehouse" style="color: #333;"></fa-icon>
      <span style="margin-right: 8px; margin-left: 8px; color: #333;">Stock</span>
      <fa-icon [icon]="faChevronRight" style="color: rgb(105, 103, 103);"></fa-icon>
    </a>
  </div>
</div>
<h4 style="display: flex; justify-content: center; font-family: Raleway;"><b>Overall Stock</b></h4>
<div style="display: flex; justify-content: center;">
  <app-admin-canvas></app-admin-canvas>
</div>
